@font-face {
    font-family: "Roboto_Medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "MsMadi";
    src: url("../fonts/MsMadi-Regular.ttf");
}

h1 {
    font-family: 'MsMadi';
    font-weight: 600;
    font-size: 50px;
}

.btn {
    transition: all ease .5s;
}