* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto_Medium';
}

@import 'variables.less';

body {
    background-color: @color-third;
    color: @color-primary;
    // background-image: url('../img/background.png');

    @import 'mixins.less';
    @import './custom/loader.less';
    
    @import 'custom/menu.less';

    // PAGES
    @import './custom/login.less';
    @import './custom/home.less';
}
