.home {
    position: relative;

    @media @mobile {
        overflow-x: hidden;
    }

    .signs {
        display: flex;
        background-color: @color-fifth;
        padding: 10px;
        position: sticky;
        z-index: -1;
        border-radius: 5px;
        box-shadow: 3px 3px 3px;

        .content {
            .text {
                font-size: 22px;
                color: @color-third;
                font-weight: 600;
                letter-spacing: 3px;
            }
        }
    }

    .title {
        text-align: center;
        font-family: 'MsMadi';
        font-size: 50px;
    }

    .sub-title {
        text-align: center;
        font-family: 'MsMadi';
        font-size: 30px;
    }

    form {
        margin: 20px 0;

        @media @mobile {
            padding: 0 20px;
        }

        .form-group {
            .group-radios {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;

                .radio-inline {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid @color-bedroom;
                    border-radius: 5px;
                    margin: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all ease .5s;
                    height: 50px;

                    &.active {
                        background-color: @color-bedroom;
                    }

                    input {
                        display: none;
                    }

                    span {
                        display: block;
                        text-align: center;
                        margin: 0;
                        font-size: 12px;
                    }

                    i {
                        font-size: 20px;
                    }
                }
            }

            .complement {
                display: none;

                .col-sm-6 {
                    &:last-child {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        cursor: pointer;

                        span {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        #result {
            .alert {
                display: flex;

                span {
                    text-align: center;
                    text-transform: uppercase;
                    -webkit-text-stroke-width: .2px;
                    -webkit-text-stroke-color: #000;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }

    #mural,
    #ca {
        .alert {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;

            .user-photo {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                cursor: pointer;
            }

            span {
                text-align: center;
                padding: 8px;
                background-color: rgba(255, 255, 255, .7);
                border-radius: 5px;
            }
        }

        >.list-old {

            >img,
            span {
                opacity: 0.5;
            }
        }
    }

    .republish {
        .button-action {
            background-color: @color-primary;
            position: fixed;
            top: 80px;
            right: 15px;
            transition: all ease .5s;

            &:hover {
                box-shadow: 0px 0px 5px;
            }
        }
    }
}

@media @desktop {
    .home {
        form {
            .form-group {
                .group-radios {
                    grid-template-columns: 1fr 1fr;

                    .radio-inline {
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}