.print-mural {
    #result {
        .alert {
            display: flex;

            span {
                text-align: center;
                text-transform: uppercase;
                -webkit-text-stroke-width: .2px;
                -webkit-text-stroke-color: #000;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}